[submodule "terminal/.tmux/plugins/tpm"]
	path = terminal/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "i3/i3blocks-contrib"]
    path = i3/i3blocks-contrib
    url = https://github.com/vivien/i3blocks-contrib
